## Square Matrix

In [1]:
a = [2 4; 3 4]

2×2 Array{Int64,2}:
 2  4
 3  4

In [3]:
size(a)

(2, 2)

## Symmetric Matrix

In [4]:
s = [5 6 7;6 3 2; 7 2 1]

3×3 Array{Int64,2}:
 5  6  7
 6  3  2
 7  2  1

In [5]:
permutedims(s)

3×3 Array{Int64,2}:
 5  6  7
 6  3  2
 7  2  1

## Transposing Matrix

In [66]:
tr1 = [ 
    1 2 9
    3 4 8
    5 6 7
]

3×3 Array{Int64,2}:
 1  2  9
 3  4  8
 5  6  7

In [8]:
tr2 = [1 0 9; 3 4 8]

2×3 Array{Int64,2}:
 1  0  9
 3  4  8

In [9]:
permutedims(tr2)

3×2 Array{Int64,2}:
 1  3
 0  4
 9  8

## Triangular Matrix

In [4]:
m_tri = [
    1 2 9 22
    3 4 8 32
    5 6 7 42
    9 2 3 62
]

4×4 Array{Int64,2}:
 1  2  9  22
 3  4  8  32
 5  6  7  42
 9  2  3  62

In [2]:
using LinearAlgebra

In [26]:
LowerTriangular(m_tri)

4×4 LowerTriangular{Int64,Array{Int64,2}}:
 1  ⋅  ⋅   ⋅
 3  4  ⋅   ⋅
 5  6  7   ⋅
 9  2  3  62

In [27]:
UpperTriangular(m_tri)

4×4 UpperTriangular{Int64,Array{Int64,2}}:
 1  2  9  22
 ⋅  4  8  32
 ⋅  ⋅  7  42
 ⋅  ⋅  ⋅  62

## Diagonal Matrix

In [28]:
Diagonal(m_tri)

4×4 Diagonal{Int64,Array{Int64,1}}:
 1  ⋅  ⋅   ⋅
 ⋅  4  ⋅   ⋅
 ⋅  ⋅  7   ⋅
 ⋅  ⋅  ⋅  62

In [30]:
Diagonal(tr2)

2×2 Diagonal{Int64,Array{Int64,1}}:
 1  ⋅
 ⋅  4

## Identity Matrix

In [44]:
UniformScaling(4)

UniformScaling{Int64}
4*I

## Inverse Matrix

In [45]:
A = [
    -1 1
    -2 3
]

2×2 Array{Int64,2}:
 -1  1
 -2  3

In [48]:
A_inv = inv(A)

2×2 Array{Float64,2}:
 -3.0  1.0
 -2.0  1.0

In [52]:
m_i = A*A_inv

2×2 Array{Float64,2}:
 1.0  0.0
 0.0  1.0

In [54]:
B = Float32[
    1 2
    3 4
]

2×2 Array{Float32,2}:
 1.0  2.0
 3.0  4.0

In [55]:
B_inv = inv(B)

2×2 Array{Float32,2}:
 -2.0   1.0
  1.5  -0.5

In [62]:
B*B_inv

2×2 Array{Float32,2}:
  1.0         0.0
 -4.76837e-7  1.0

## Trace of Matrix

In [5]:
tr(m_tri)

74

## Sparce Matrix

In [6]:
using SparseArrays

In [24]:
A = sparse([
    2 0 0 0 0 0 9 0
    0 1 0 0 0 0 0 2
    0 0 0 0 2 0 0 0
    8 0 0 0 0 0 0 0
])

4×8 SparseMatrixCSC{Int64,Int64} with 6 stored entries:
  [1, 1]  =  2
  [4, 1]  =  8
  [2, 2]  =  1
  [3, 5]  =  2
  [1, 7]  =  9
  [2, 8]  =  2

In [11]:
issparse(A)

true

In [39]:
sparsity = 1 - length(A.nzval) / length(A)

0.8125

In [47]:
Array(A)

4×8 Array{Int64,2}:
 2  0  0  0  0  0  9  0
 0  1  0  0  0  0  0  2
 0  0  0  0  2  0  0  0
 8  0  0  0  0  0  0  0

In [40]:
B = [
    2 0 0 0 0 0 9 0
    0 1 0 0 0 0 0 2
    0 0 0 0 2 0 0 0
    8 0 0 0 0 0 0 0
]

4×8 Array{Int64,2}:
 2  0  0  0  0  0  9  0
 0  1  0  0  0  0  0  2
 0  0  0  0  2  0  0  0
 8  0  0  0  0  0  0  0

In [46]:
sparsity2 = 1 - length(findall(!iszero, B))/length(B)

0.8125

### Tensors

In [48]:
TEN1 = [
    [
        2 3 1
        4 2 4
        5 2 4
    ],
    [
        12 89 122
        33 23 33
        22 44 311
    ],
    [
        2 1 233
        33 66 33
        74 32 33
    ]
]

3-element Array{Array{Int64,2},1}:
 [2 3 1; 4 2 4; 5 2 4]
 [12 89 122; 33 23 33; 22 44 311]
 [2 1 233; 33 66 33; 74 32 33]